.venv
.*venv
.env
.env.example
.env.production
venv/
/app/ml/
/app/ml/
backend/.env
*.py[cod]
__pycache__/
*.pyo
*.pyd
backend/*env
backend/wardrobe_images
backend/my_models
backend/data
data/
images/
train/
train 
backend/train 
train2 
backend/train2
img/
Custom_ML
backend/Custom_ML
ML 
ML/
backend/ML 
ML_Ready 
backend/ML_Ready 
MR_Res/
backend/ML_Res 
ML1 
backend/ML1 
AI/
ml_models/
backend/ml_models
backend/AI
backend/AI/
backend/images
backend/img
img-001/
uploads/
backend/uploads
img-001.zip
backend/img-001.zip
backend/img-001
fashion/
backend/fashion/images
parsed_deepfashion_train.csv
backend/parsed_deepfashion_train.csv